/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import '../../node_modules/hover.css/css/hover-min.css';
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
@media (max-width: 650px) {
  .menu {
    width: 100%;
    padding-left: 8%;
  }
}
.menu ul {
  width: 400px;
  justify-content: space-between;
  display: flex;
  list-style: none;
  border-top: 1px solid lightgray;
  padding-top: 20px;
}
@media (max-width: 650px) {
  .menu ul {
    width: 90%;
    font-size: 18px;
  }
}
.menu .link {
  color: white;
  text-decoration: none;
}
.home-page {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 75vh;
  color: white;
}
@media (max-width: 650px) {
  .home-page {
    justify-content: space-around;
  }
}
.home-page img {
  height: auto;
  width: 160px;
  border-radius: 50%;
}
@media (max-width: 650px) {
  .home-page img {
    width: 100px;
  }
}
.home-page h1 {
  margin-top: 20px;
  font-size: 40px;
  color: white;
  letter-spacing: 1px;
}
@media (max-width: 650px) {
  .home-page h1 {
    font-size: 30px;
    margin-top: 20px;
  }
}
.home-page .description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
}
.home-page .description h3 {
  font-size: 18px;
  margin-bottom: 15px;
}
.home-page .description p {
  width: 80%;
  border-bottom: 1px solid lightgrey;
  border-left: 1px solid lightgrey;
  padding: 5px;
  letter-spacing: 1px;
  line-height: 20px;
}
.home-page .icon {
  max-height: 50px;
  max-width: 50px;
  overflow: hidden;
  margin: 10px;
}
@media (max-width: 650px) {
  .home-page .icon {
    max-height: 35px;
    max-width: 35px;
    overflow: hidden;
    margin: 5px;
  }
}
.home-page .tech-icons {
  display: flex;
}
.home-page .tech-icons .react {
  background: lightgrey;
}
.home-page .tech-icons .less {
  background: lightgrey;
}
.blog-page {
  width: 100%;
  height: 60vh;
  text-align: center;
}
.blog-page a {
  text-decoration: none;
}
.blog-page .card {
  display: flex;
  padding: 20px;
  border-bottom: 1px solid lightgrey;
}
.blog-page h1 {
  letter-spacing: 1px;
  margin-top: 20px;
  font-size: 35px;
  color: white;
  margin-bottom: 35px;
}
@media (max-width: 650px) {
  .blog-page h1 {
    font-size: 30px;
    margin-top: 20px;
  }
}
.blog-page img {
  max-height: 100px;
  max-width: 100px;
  border-radius: 50%;
  overflow: hidden;
}
@media (max-width: 650px) {
  .blog-page img {
    max-height: 80px;
    max-width: 80px;
  }
}
.blog-page .card-body {
  margin: 10px 0px 0px 30px;
  text-align: left;
}
@media (max-width: 650px) {
  .blog-page .card-body {
    margin-top: 0px;
    margin-left: 20px;
  }
}
.blog-page .card-body h3 {
  color: white;
  font-size: 20px;
  margin-bottom: 10px;
}
@media (max-width: 650px) {
  .blog-page .card-body h3 {
    font-size: 18px;
  }
}
.blog-page .card-body h4 {
  color: #ECEBEB;
  font-size: 16px;
}
@media (max-width: 650px) {
  .blog-page .card-body h4 {
    display: none;
  }
}
.portfolio-page {
  width: 100%;
  text-align: center;
}
.portfolio-page a {
  text-decoration: none;
}
.portfolio-page .card {
  display: flex;
  padding: 20px;
  border-bottom: 1px solid lightgrey;
}
.portfolio-page h1 {
  letter-spacing: 1px;
  margin-top: 20px;
  font-size: 35px;
  color: white;
  margin-bottom: 35px;
}
@media (max-width: 650px) {
  .portfolio-page h1 {
    font-size: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
}
.portfolio-page img {
  max-height: 100px;
  max-width: 120px;
  border-radius: 5px;
  overflow: hidden;
}
.portfolio-page .card-body {
  width: 90%;
  margin-left: 30px;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.portfolio-page .card-body h3 {
  color: white;
  font-size: 20px;
}
.portfolio-page .card-subtitle {
  width: 250px;
}
@media (max-width: 650px) {
  .portfolio-page .card-subtitle {
    display: none;
  }
}
@media (max-width: 650px) {
  .portfolio-page .card-text {
    display: none;
  }
}
.portfolio-page .project-display {
  border: 1px solid lightgrey;
  overflow-y: auto;
  max-height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.portfolio-page .project-display .view-more {
  height: 30px;
  width: 150px;
  margin: 10px;
  text-align: center;
}
.portfolio-page .project-display .view-more a {
  font-size: 18px;
  padding: 10px;
}
.portfolio-page h4 {
  color: #ECEBEB;
  font-size: 16px;
  white-space: pre-line;
  line-height: 20px;
}
.portfolio-page p {
  color: #ECEBEB;
}
.portfolio-page button {
  background: none;
  color: white;
  border: 1px solid lightgrey;
  margin-right: 10px;
}
@media (max-width: 650px) {
  .portfolio-page button {
    width: 120px;
    margin-top: 5px;
    height: 30px;
  }
}
.portfolio-page a {
  color: white;
  font-size: 14px;
}
.routes {
  width: 100%;
  height: 100%;
}
.contact-page {
  margin-top: 20px;
  width: 100%;
  height: 60vh;
  text-align: center;
}
.contact-page h1 {
  letter-spacing: 1px;
  font-size: 35px;
  color: white;
  margin-bottom: 35px;
}
@media (max-width: 650px) {
  .contact-page h1 {
    font-size: 30px;
    margin-bottom: 0px;
  }
}
.contact-content {
  display: flex;
  flex-direction: row-reverse;
  width: 100%;
  height: 90%;
  justify-content: space-between;
  margin-top: 20px;
}
@media (max-width: 650px) {
  .contact-content {
    flex-direction: column;
    margin: 0px;
  }
}
.contact-content .social-media {
  border-right: 1px solid lightgray;
  width: 49%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media (max-width: 650px) {
  .contact-content .social-media {
    width: 90%;
    flex-direction: row;
    border: none;
    padding-left: 4%;
  }
}
.contact-content form {
  width: 49%;
  height: 100%;
}
@media (max-width: 650px) {
  .contact-content form {
    width: 90%;
    padding-left: 10px;
  }
}
.contact-content form .boxes {
  max-width: 300px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-left: 50px;
}
@media (max-width: 650px) {
  .contact-content form .boxes {
    margin: 0px;
    min-width: 100%;
    height: 280px;
    align-items: center;
  }
}
.contact-content form input {
  color: white;
  font-size: 16px;
  background: none;
  border: none;
  border-bottom: 1px solid lightgrey;
  height: 25px;
}
@media (max-width: 650px) {
  .contact-content form input {
    width: 90%;
  }
}
.contact-content form input:focus {
  outline: none;
}
.contact-content form input::placeholder {
  color: white;
  font-size: 16px;
}
.contact-content form textarea {
  color: white;
  font-size: 16px;
  background: none;
  border: none;
  border: 1px solid lightgrey;
  height: 70px;
}
@media (max-width: 650px) {
  .contact-content form textarea {
    width: 90%;
    height: 50px;
  }
}
.contact-content form textarea:focus {
  outline: none;
}
.contact-content form textarea::placeholder {
  padding: 5px;
  color: white;
  font-size: 16px;
}
.contact-content form button {
  background: none;
  border: 1px solid lightgrey;
  color: white;
  width: 70px;
  height: 30px;
  font-size: 14px;
}
@media (max-width: 650px) {
  .contact-content form button {
    width: 150px;
    height: 40px;
    font-size: 18px;
  }
}
.contact-content .sm-icon {
  height: 70px;
  width: 70px;
  display: block;
  border-radius: 50%;
  background-color: lightgray;
  box-sizing: border-box;
}
@media (max-width: 650px) {
  .contact-content .sm-icon {
    height: 45px;
    width: 45px;
  }
}
.contact-content .sm-icon img {
  margin-top: 15px;
  height: 40px;
  width: 40px;
}
@media (max-width: 650px) {
  .contact-content .sm-icon img {
    height: 30px;
    width: 30px;
    margin-top: 10px;
  }
}
.contact-content .left {
  margin-left: 50%;
}
@media (max-width: 650px) {
  .contact-content .left {
    margin: 0px;
  }
}
.dark {
  background-color: black;
}
.dark button {
  color: white;
}
@font-face {
  font-family: 'Karla';
  font-style: normal;
  font-weight: 400;
  src: local('Karla'), local('Karla-Regular'), url(https://fonts.gstatic.com/s/karla/v6/qkBbXvYC6trAT7RVLtk.ttf) format('truetype');
}
.app-background {
  background: linear-gradient(0deg, rgba(138, 205, 197, 0.95424107) 0%, rgba(81, 118, 157, 0.92566964) 100%);
}
.App {
  box-sizing: border-box;
  height: 100vh;
  margin: 0 auto;
  font-family: 'Karla', sans-serif;
}
.App .content {
  width: 600px;
  height: 85%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 50px;
}
@media (max-width: 650px) {
  .App .content {
    width: 90%;
    padding: 0px;
  }
}
.header {
  padding-top: 20px;
  padding-left: 20px;
}
.header button {
  border: none;
  background: none;
}
.animated-page-wrapper {
  position: absolute;
  top: 62px;
  left: 0;
  width: 100%;
  height: 100%;
}
