
//contact page styling

.routes {
    width: 100%;
    height: 100%;
}
.contact-page {
    margin-top: 20px;
    width: 100%;
    height: 60vh;
    text-align: center;
    h1 {
        font-size: 35px;
        color: white;
        margin-bottom: 35px;
        @media @phone {
            font-size: 30px;
            margin-bottom: 0px;
        }
    }
}

.contact-content {
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    height: 90%;
    justify-content: space-between;
    margin-top: 20px;
    @media @phone {
        flex-direction: column;
    }

    .social-media {
        border-right: 1px solid lightgray;
        width: 49%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        @media @phone {
            width: 90%;
            flex-direction: row;
            border: none;
            padding-left: 4%;
        }
    }
    form {
        width: 49%;
        height: 100%;
        @media @phone {
            width: 90%;
            padding-left: 10px;
        }
        .boxes {
            max-width: 300px;
            height: 300px;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            margin-left: 50px;
            @media @phone {
                margin: 0px;
                min-width: 100%;
                height: 280px;
                align-items: center;
            }
        }
        input {
            color: white;
            font-size: 16px;
            background: none;
            border: none;
            border-bottom: 1px solid lightgrey;
            height: 25px;
            @media @phone {
                width: 90%;
            }
        }
        input:focus {
            outline:none;
        }
        input::placeholder{
            color: white;
            font-size: 16px;
        }
        textarea {
            color: white;
            font-size: 16px;
            background: none;
            border: none;
            border: 1px solid lightgrey;
            height: 70px;
            @media @phone {
                width: 90%;
            }
        }
        textarea:focus {
            outline:none;
        }
        textarea::placeholder {
            padding: 5px;
            color: white;
            font-size: 16px;
        }
        button {
            background: none;
            border: 1px solid lightgrey;
            color: white;
            width: 70px;
            height: 30px;
            font-size: 14px;
            @media @phone {
                width: 150px;
                height: 40px;
                font-size: 18px;
            }
        }
    }
    .sm-icon {
        height: 70px;
        width: 70px;
        display: block;
        border-radius: 50%;
        background-color: lightgray;
        box-sizing: border-box;
        @media @phone {
            height: 45px;
            width: 45px;
        }
        img {
            margin-top: 15px;
            height: 40px;
            width: 40px;
            @media @phone {
                height: 30px;
                width: 30px;
                margin-top: 10px;
            }
        }
    }
    .right {
        margin-left: 50%;
        @media @phone{
            margin: 0px;
        }
    }
    .email {
        @media @phone {
            display: none;
        }
    }
}

