//home page styling

.home-page {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 60vh;
    color: white;
    img {
        height: auto;
        width: 200px;
        border-radius: 50%;
    }
    h1 {
        font-size: 40px;
        color: white;
    }
}