 // blog styling

.portfolio-page {
    width: 100%;
    text-align: center;
    a {
        text-decoration: none;
    }
    .card {
        display: flex;
        padding: 20px;
        border-top: 1px solid lightgrey;
    }
    h1 {
        font-size: 35px;
        color: white;
        margin-bottom: 35px;
    }
    img {
        max-height: 100px;
        max-width: 100px;
        border-radius: 5px;
        overflow: hidden;
    }
    .card-body{
        margin: 10px 0px 0px 30px;
        text-align: left;
        h3 {
            color: white;
            font-size: 20px;
            margin-bottom: 10px;
        }
        h4 {
            color: lightgrey;
            font-size: 16px;
        }
    }
    .project-display {
        border: 1px solid lightgrey;
        overflow-y: auto;
        max-height: 60vh;
    }
    

}